* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

#root {
    height: 100vh;
}

.small-text {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
    display: block;
}

.small-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.center-island {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}

.island-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #000;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.island-caption {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
    text-align: center;
    line-height: 1.5;
    max-width: 400px;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
}

textarea:focus {
    outline: none;
    border-color: #007bff;
}

button:hover {
    background-color: #0069d9;
    box-shadow: 4px black 1px;
}

.warning {
    margin-top: 10px;
    background-color: #e3b211;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    max-width: 400px;
}